{% for message in messages %}
<div class="chat-message" data-id="{{ message[0] }}">
    <div>
        <strong>{{ message[1] }}</strong>: 
        {{ message[2].replace('\n', '<br>')|safe if message[2] else '' }}
        {% if message[3] %}
            {% if message[3].endswith('.jpg') or message[3].endswith('.jpeg') or message[3].endswith('.png') or message[3].endswith('.gif') %}
                <br>
                <img src="/{{ message[3] }}" alt="Imagen subida" width="200">
            {% else %}
                <a href="/{{ message[3] }}" download>{{ message[3].split('/')[-1] }}</a>
            {% endif %}
        {% endif %}
    </div>
    <div class="chat-actions">
        <span class="chat-timestamp">{{ message[4] }}</span>
                {% if session['username'] == message[1] %}
                <button class="icon-button edit-button" data-id="{{ message[0] }}">
                    <i class="fas fa-pencil-alt">✏️</i>
                </button>
                <button class="icon-button delete-button" data-id="{{ message[0] }}">
                    <i class="fas fa-trash">🗑️</i>
                </button>
                {% endif %}
    </div>
            <!-- Форма редактирования -->
            {% if session['username'] == message[1] %}
            <form method="POST" action="{{ url_for('edit_message') }}" class="edit-form" data-id="{{ message[0] }}" style="display: none;">
                <textarea name="updated_message">{{ message[2] }}</textarea>
                <input type="hidden" name="message_id" value="{{ message[0] }}">
                <button type="submit" class="save-button">
                    <i class="fas fa-save">💾</i>
                </button>
            </form>
            {% endif %}
</div>
{% endfor %}
